extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutCardAuth

block wrapperContent
  +LayoutCardBasic({img:37, page: 'forgot-pasword'})
    .auth-form-box
      .text-center
        a(href=`${CWD}${paths['default-dashboard']}`).d-flex.flex-center.text-decoration-none.mb-4
          +Logo({text:false,width:58}).fw-bolder.fs-3.d-inline-block
        h4.text-body-highlight هل نسيت كلمة المرور؟
        p.text-body-tertiary.mb-5 أدخل بريدك الإلكتروني أدناه وسنرسل لك رابط إعادة تعيين
      form.d-flex.align-items-center.mb-5&attributes(attributes)
        input#email.form-control.flex-1(type='email' placeholder='البريد الإلكتروني')
        button.btn.btn-primary.ms-2
          | إرسال
          span.fas.fa-chevron-right.ms-2
      a.fs-9.fw-bold(href="#") هل ما زلت تواجه مشاكل؟